#list {
    z-index: 0;
}

#form {
    display: grid;
    grid-template-areas: 
    " input "
    " output ";
    grid-template-columns: 65%;
    justify-content: center;
}

#inputFields {
    display:grid;
    grid-template-areas: "tv submit";
    grid-template-columns: 60% 40%;
    margin: 0 0 15px 0;
}

#inputTV {
    margin: 10px 0 0 0;
    font-family: "Arial";
    font-size: 20px;
}


#tv {
    border: solid 1px #cccccc;
    border-radius: 4px;
    margin-top: 1px;
    padding: 10px;
    grid-area: tv;
    align-self: center;
}

#submit {
    grid-area: submit;
    align-self: center;
    justify-self: end;
    width: auto;
    font-family: "Maven Pro","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 20px;
    height: auto;
    line-height: normal;
    text-align: center;
    background: #8aa9e2;
    border-width: 2px;
    border-color: #8aa9e2;
    border-style: solid;
    color: #ffffff;
    font-weight: 500;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    text-shadow: none;
    padding: 10px 15px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px #eeeeee;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
}

#submit:hover {
    font-size: 20px;
    background-color: white;
    border: solid 2px #8AA9E2;
    color: #8aa9e2;
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer; 
}

#data {
    visibility: hidden;
    width: 100%;
}

.display {

    font-size: 18px;
    list-style-type: none;
    display: grid;
    grid-template-areas: 
    "show showField ."
    "network networkField .";
    border: solid 1px #cccccc;
    border-radius: 5px;
    grid-gap: 13px;
    grid-template-columns: 33% 50% 17%;
    padding: 9px 0px 9px 9px;
    overflow:hidden;
    min-height:100px;
    z-index: 0;
}


.show {
    grid-area: show;
    background-color: #8AA9E2;
    border-radius: 3px;
    font-family: sans-serif;
    text-align: center;
    justify-self: left;
    align-self: center;
    color: white;
    font-weight: 700;
    width:70%;
    padding: 8px;
    
}

.network {
    grid-area: network;
    background-color: #8AA9E2;
    border-radius: 3px;
    font-family: sans-serif;
    text-align: center;
    padding: 8px;
    justify-self: left;
    align-self: center;
    color: white;
    font-weight: 700;
    width:70%;
}

.showField {
    grid-area: showField;
    font-family: sans-serif;
    align-self: center;
    
}

.networkField {
    grid-area: networkField;
    font-family: sans-serif;
    align-self: center;
}

/* Page */

#channelHead {
    display:grid;
    grid-template-columns: 1.05fr 2fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". header . . ."
    ". header2 header2 header2 .";
    padding: 20px 0 0 0;
}

#channelHead h3 {
    font-size: 40px;
    grid-area: header;
    font-weight:400;
}

#channelHead p {
    padding-top: 10px;
    font-size: 24px;
    color: #8AA9E2;
    grid-area: header2;
}

.sign {
    background-color: #D58429 !important;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    padding: 14px 20px 14px 20px;
    color: #fff;
}

/*  Second Section */

#channelTop {
    display: grid;
    padding-top: 36px;
    grid-template-columns: 1fr auto 1fr 1fr 1fr;
    grid-template-areas: 
    ". image text text .";
    grid-gap: 75px;
}

#imageTop {
    grid-area: image;
    justify-self: center;
}   

#textTop {
    grid-area: text;
    align-self: center;
    display: grid;
    grid-template-columns:2fr auto;
    grid-template-areas: 
    "header ."
    "info info"
    "button .";
    grid-gap: 10px;
    padding-left: 45px;
}

#channelTop h3{
    grid-area: header;
    justify-self: start;
    font-size: 27px;
    font-weight: 400;
}

#channelTop p {
    grid-area: info;
    justify-self: start;
    padding-top: 9px;
    padding-bottom: 15px
}

#channelTop button{
    grid-area: button;
    justify-self: start;
}

/* 2nd Full Section */

#channelMiddle {
    margin: 38px 0 0 0;
    background-color: #8AA9E2;
    display: grid;
    padding: 36px 0;
    grid-template-columns: 1fr 1fr 1fr auto 1fr;
    grid-template-areas: 
    ". text text image .";
    grid-gap: 15px;

}

#imageMiddle {
    grid-area: image;
    justify-self: center;
}  

#textMiddle {
    color: white;
    grid-area: text;
    align-self: center;
    display: grid;
    grid-template-columns:2fr auto;
    grid-template-areas: 
    "header ."
    "info info"
    "button .";
    grid-gap: 10px;
    padding-right: 75px;
}

#channelMiddle h3{
    grid-area: header;
    justify-self: start;
    font-size: 27px;
    font-weight: 400;
}

#channelMiddle p {
    grid-area: info;
    justify-self: start;
    padding-top: 9px;
    padding-bottom: 15px
}

#channelMiddle button{
    grid-area: button;
    justify-self: start;
}


/* Package */

#channelPackages {
    display: grid;
    background-color: #EFEFEF;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: ". s b .";
    padding-top: 30px;
    padding-bottom: 30px;
}

#sPackage {
    padding: 25px;
    display: grid;
    grid-gap:10px;
    justify-self: start;
    grid-area: s;
    border-right: solid 1.1px #d5d5d5;
}

#bPackage {
    padding: 25px;
    display: grid;
    grid-gap:10px;
    justify-self: start;
    grid-area: b;
}

#channelPackages h3{
    justify-self: start;
    font-size: 37px;
    font-weight: 400;
    padding-bottom: 15px;
    color: #8AA9E2;
}

#channelPackages h4 {
    font-size: 23px;
    color: #5C6671;
    font-weight: 400;
}

#channelPackages p {
    justify-self: start;
    padding-top: 9px;
    color: #5C6671;
    padding-bottom: 15px;
}


/*  Channel */

#channelsPicture {
    display:grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 0.8fr;
    grid-template-areas: 
    ". head . . ."
    ". img img img .";
    padding: 20px 0 0 0;
}

#channelsPicture h3 {
    grid-area: head;
    justify-self: start;
    font-size: 37px;
    font-weight: 400;
    padding-bottom: 15px;
    color: black;
}

#channelsPicture img {
    justify-self: start;
    grid-area: img;
    max-width: 90%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 60px;
}

/* Submission Structure */

#formSubmit {
    padding: 35px 0;
    background-color: #EFEFEF;
    color: #8AA9E2;
    font-size: 23px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-areas: ". test test test .";
}

#formSubmit h2 {
    font-weight: 400;
    font-size: 29px;
}

#l {
    grid-area: test;
}

.submitButton {
    width: auto;
    font-family: "Maven Pro","Lucida Sans Unicode",Tahoma,sans-serif;
    font-size: 20px;
    height: auto;
    line-height: normal;
    text-align: center;
    background: #8aa9e2;
    border-width: 2px;
    border-color: #8aa9e2;
    border-style: solid;
    color: #ffffff;
    font-weight: 500;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    text-shadow: none;
    padding: 10px 15px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px #eeeeee;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;

}


.submitButton:hover {
    background-color: white;
    border: solid 2px #8AA9E2;
    color: #8aa9e2;
    cursor: pointer;
}

#formSubmit input {
    cursor: auto;
    line-height: 1.3;
    color: #333D45;
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 100%;
    max-width: 80%;
    font-size: 18px;
    padding: 6px 10px;
}

#formSubmit label {
    font-size: 18px;
    color: #5C6670;
    font-weight: 500;
    text-align: left;
    margin: 0;
    padding: 0 0 5px 0;
    width: auto;
    display: block;
}

#selectType {
    font-size: 20px;
    position: static;
    display: inline-block;
    margin-right: 5px;
    width: auto;
    border: none;
    vertical-align: baseline;
    border-radius: 10px;
    margin: 4px 0 0;
}


/* Search Functionality */

#search {
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 0.8fr;
    grid-template-areas: ". head head . ."
}

#search h3 {
    grid-area: head;
    font-size: 30px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    padding-top: 28px;
    padding-bottom: 28px;
}

#displayFieldHold {
    display:grid;
    grid-template-columns: 1fr 3.8fr 1fr;
    grid-template-areas: ". mid .";
    margin-bottom: 15px;
}

#displayFields {

    background-color: #8AA9E2;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    grid-area: mid;
    padding: 11px;
    border-radius: 7px;

}