/*  All  */

* {
    margin: 0;
    padding: 0;
}

/* Main */

body {
    font-family: 'Maven Pro', sans-serif;
}

/*******/

/* Top */

/*******/


header {
    background-color: #86A8E5;
    display: grid;
    grid-template-columns: 1.05fr 2fr 1fr 1fr 1fr;
    grid-template-areas: ". logo . . ."
    ". menu menu . ."
}

    #logo {
        max-width: 250px;
        margin: 20px 0px 10px;
        grid-area: logo;
    }

    nav {
        padding-bottom: 35px;
        grid-area: menu;
    }

    li {
        display: inline-block;
        padding: 15px 22px 0 0;
    }

    li a {
        font-size: 18px;
        text-decoration: none;
        color: white;
    }

    li a p:hover {
        animation-name: transform;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    li a p {
        padding-bottom: 4px;
        border-bottom: solid 4px rgb(138, 169, 226);
    }

    #covid-19 {
        font-weight: 500 !important;
        font-size: 24px;
    }

    /* Animation for Nav Bar */

    @keyframes transform {

        10% {
            border-bottom: solid 4px black;
            width: 10%;
        }
    
        15% {
            border-bottom: solid 4px black;
            width: 15%;
        }

        25% {
            border-bottom: solid 4px black;
            width: 25%;
        }

        31% {
            border-bottom: solid 4px grey;
            width: 31%;
        }
    
        35% {
            border-bottom: solid 4px grey;
            width: 35%;
        }
    
        50% {
            border-bottom: solid 4px white;
            width: 50%;
        }
    
        65% {
            border-bottom: solid 4px white;
            width: 65%;
        }
    
        75% {
            border-bottom: solid 4px white;
            width: 75%;
        }

        90% {
            border-bottom: solid 4px white;
            width: 90%;
        }
    
        100% {
            border-bottom: solid 4px white;
            width: 100%;
        }
    
    }

    /* Down */

    .dropdown {
        position: relative;
        display: inline-block;
      }

    .dropdown-content {
        font-family: 'Maven Pro', sans-serif;
        font-size: 14px;
        border-top: solid 5px #86A8E5;
        display: none;
        position: absolute;
        background-color: #333D45;
        min-width: 250px;
        box-shadow: 0px 18px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }


    /* Links inside the dropdown */


    .dropdown-content a {
        color: white;
        font-family: 'Maven Pro', sans-serif;
        font-size: 15px;
        padding: 9px 14px 9px 14px;
        text-decoration: none;
        display: block;
    }


    
    .dropdown-content a:hover {background-color: rgb(134, 168, 229);}

    /* Show the dropdown menu on hover */


    .dropdown:hover .dropdown-content {display: block;}


    /* Drop Down Menu With Mobile Access */

    @media (max-width: 960px) {
        header {
            grid-template-areas: 
            ". logo . . ."
            ". menu menu menu .";
        }
    }



/**************/
/* Main info */
/*************/

main {
    min-height: 400px;
    background-color: white;
}

/***********/
/* Footer */
/**********/

#footerOne {
    color: white;
    background-color: #8AA9E2;
    display: grid;
    grid-template-columns: 0.63fr 1.3fr 0.7fr 0.7fr 0.6fr;
    grid-template-areas: ". text reachOut buttons .";
    
    }

    footer a {
        text-decoration: none;
        color: white;
    }

    #textFooter {
        grid-area: text;
        font-size: 18px;
        line-height: 1.3;
        padding: 0 15px;
    }  

    #largeText {
        font-size: 32px;
        line-height: 1;
    }

    #reachOut {
        grid-area: reachOut;
        justify-self: center;
        font-size: 18px;
        line-height: 1.3;
        padding: 0 28px 35px 15px;
    }

    #media {
        display: grid;
        grid-template-areas: "one two three four .";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

        .fab {
            font-size: 1.65em!important;
            font-style: normal;
            font-weight: 400;
            line-height: 1!important;
        }

        .fa-facebook-square {
            grid-area: one;
        }

        .fa-instagram {
            grid-area: two;
        }

        .fa-linkedin {
            grid-area: three;
        }

        .fa-twitter-square {
            grid-area: four;
        }   

    #footerButtons {
        grid-area: buttons;
        padding: 0 0 0 15px;
    }

        #footerButtons a {
            display: block;
            width: 100%;
            background-color: #8aa9e2;
            color: #ffffff;
            background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
            background-repeat: repeat-x;
            background-size: 200%;
            background-position: 0 -100%;
            border: 1px solid transparent;
            box-sizing: border-box;
            word-wrap: break-word;
            font-size: 22px!important;
            border-radius: 15px!important;
            padding-left: 21px!important;
            outline: none;
            padding-top: 12px;
            padding-right: 15px;
            padding-bottom: 12px;
            display: grid;
            grid-template-areas: " icon word ";
            grid-template-columns:  40px auto ;
            grid-gap: 15px;
        }

        #footerButtons i {
            grid-area: icon;
            align-self: center;
            justify-self: start;
        }

        #footerButtons p {
            grid-area: word;
            align-self: center;
            justify-self: start;
        }


        .fa, .far {
            font-size: 1.65em!important;
            font-style: normal;
            font-weight: 400;
            line-height: 1!important;
        }


    /* Media Queries for Footer */

        @media (max-width:960px) {
            #footerOne {
                grid-template-columns: 0.2fr 2fr 2fr 2fr 0.2fr;
                grid-template-areas: 
                ". text text text ." 
                ". reachOut reachOut reachOut ." 
                ". buttons buttons buttons .";
                padding: 10px;
            }

            #reachOut {
                padding-top: 35px;
                justify-self: start;
            }

            #footerButtons {
                padding-top: 20px;
            }

            #textFooter {
                padding-top: 20px;
            }
        }


/* Spacer */

#spacer {
    background-color: #86A8E5;
    height: 40px;
}



/*******************/
/* Second Foot */
/*******************/

#twoFooter {
    padding: 50px 0px 0px 0px;
    background-color: #333D45;
    display: grid;
    grid-template-columns: 0.8fr 1.37fr 0.55fr 1fr 1fr;
    grid-template-areas: ". legal . image .";
    line-height: 20px;    
    color: rgb(138, 169, 226);

}

    #legal {
        grid-area: legal;
    }

    #legal p{
        margin: 10px 0 0;
        font-size: 16px;
    }

    #legal img{
        width: 150px;
    }

    #twoFooter a {
        color: rgb(138, 169, 226);
    }

    #twoFooter img {
        grid-area: image;
    }

    @media (max-width: 1400px) {
        #twoFooter {
            grid-template-columns: 2.1fr 4fr 1fr 1fr 1fr;
            grid-template-areas: 
            ". legal legal legal ."
            ". . . image .";
        }

    }

    @media (max-width: 960px) {
        #twoFooter {
            grid-template-columns: 0.8fr 4fr 1fr 1fr 1fr;
            grid-template-areas: 
            ". legal legal legal ."
            ". . . image .";
        }
    }


